service cloud.firestore {
  match /databases/{database}/documents {
    match /mail/{docId} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}