@tailwind base;
@tailwind components;
@tailwind utilities;


$primary: #a8a29e;
$secondary: #171717;

@layer utilities {
  .scrollbar {
    scrollbar-width: auto;
    scrollbar-color: $primary $secondary;

    &::-webkit-scrollbar {
      height: 0.5rem; /* h-2 */
      width: 0.75rem; /* w-3 */
    }
    &::-webkit-scrollbar-track {
      background-color: rgb(87 83 78); /* bg-stone-600 */
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 9999px; /* rounded-full */
      background-color: rgb(168 162 158); /* bg-stone-400 */
    }
    &::-webkit-scrollbar-corner {
      background-color: rgb(168 162 158); /* bg-stone-400 */
    }
  }
}

.container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

// prevnts a layout shift while SWAL popup is visible
body {
  padding-right: 0 !important;
}
